<a href="https://colab.research.google.com/github/Anny8910/Decision-Tree-Classification-on-Diabetes-Dataset/blob/master/Diabetes_set_(Decision_tree).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#import pandas library
import pandas as pd
from sklearn import preprocessing

In [8]:
#loading dataset
df=pd.read_csv("Train data.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

# Dropping UnRelated Features

In [9]:
#feature variables
x=df.drop(['Loan_Status' , 'Loan_ID'], axis=1)
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

# Specifiying Target Variable

In [10]:
#target variable
y=df.Loan_Status
y

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

# Handling Misssing Values

In [11]:
Median_Loan_Amount = x.LoanAmount.median()
Mode_Loan_Amount_Term = x.Loan_Amount_Term.mode()[0]
mode_Credit_History = x.Credit_History.mode()[0]
mode_Married = x.Married.mode()[0]
mode_Gender = x.Gender.mode()[0]
mode_Dependents = x.Dependents.mode()[0]
mode_Self_Employed = x.Self_Employed.mode()[0]
x = x.fillna({"LoanAmount":Median_Loan_Amount,"Loan_Amount_Term":Mode_Loan_Amount_Term,"Credit_History": mode_Credit_History, "Married":mode_Married, "Gender":mode_Gender, "Dependents":mode_Dependents, "Self_Employed":mode_Self_Employed})

# Changing Categorical Features Into a Numerical Format

In [12]:
#check for the nubmer of unique variables 
for column in x.columns:
    print(column, " ", len(x[column].unique()))

Gender   2
Married   2
Dependents   4
Education   2
Self_Employed   2
ApplicantIncome   505
CoapplicantIncome   287
LoanAmount   203
Loan_Amount_Term   10
Credit_History   2
Property_Area   3

# Determine The Type of Features

In [13]:
def determine_type_of_feature(x):
    
    feature_types = []
    n_unique_values_treshold = 11 # becasue beyond 10 the features are continuous as seen above
    for feature in x.columns:
        if feature != "label":
            unique_values = x[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

# Checking if we split the categorical from the continous features correctly

In [14]:
feature_types = determine_type_of_feature(x)
i=0
for column in x.columns:
    print(column, " ", feature_types[i])
    i+=1

Gender   categorical
Married   categorical
Dependents   categorical
Education   categorical
Self_Employed   categorical
ApplicantIncome   continuous
CoapplicantIncome   continuous
LoanAmount   continuous
Loan_Amount_Term   categorical
Credit_History   categorical
Property_Area   categorical

# Since the Categorical features are Not Ordinal, we Do Label Encoding

In [15]:
label_encoder = preprocessing.LabelEncoder()

x['Gender']= label_encoder.fit_transform(x['Gender'])
x['Gender'].unique()
print(x)

     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0         1      No          0      Graduate            No             5849
1         1     Yes          1      Graduate            No             4583
2         1     Yes          0      Graduate           Yes             3000
3         1     Yes          0  Not Graduate            No             2583
4         1      No          0      Graduate            No             6000
..      ...     ...        ...           ...           ...              ...
609       0      No          0      Graduate            No             2900
610       1     Yes         3+      Graduate            No             4106
611       1     Yes          1      Graduate            No             8072
612       1     Yes          2      Graduate            No             7583
613       0      No          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0       128.0             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area
0           Urban
1           Rural
2           Urban
3           Urban
4           Urban
..            ...
609         Rural
610         Rural
611         Urban
612         Urban
613     Semiurban

[614 rows x 11 columns]

# Observe Change

In [16]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban
1,1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,1,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,1,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,1,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,0,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,1,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,1,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,1,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,0,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [19]:
# X = x.values
# y = y.values

In [20]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [21]:
# Create Decision Tree classifer object
model = DecisionTreeClassifier()

# Train Decision Tree Classifer
model = model.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = model.predict(x_test)

ValueError: could not convert string to float: 'Yes'

In [ ]:
#Evaluation using Accuracy score
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 65.04065040650406

In [ ]:
#Evaluation using Confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[24, 15],
       [28, 56]], dtype=int64)

In [ ]:
print("Accuracy:",((80)/123))

Accuracy: 0.6504065040650406

In [ ]:
#Evaluation using Classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           N       0.80      0.41      0.54        39
           Y       0.78      0.95      0.86        84

    accuracy                           0.78       123
   macro avg       0.79      0.68      0.70       123
weighted avg       0.78      0.78      0.76       123

In [ ]:
#checking prediction value for the first training datapoint 
model.predict([[1,0,0,0,0,5849,0.0,128.0,8,1,2]])

c:\Users\JhonsonTheGreat\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Y'], dtype=object)

# Classifying Data With Entropy Criterion set at max depth 3

In [ ]:
# Create Decision Tree classifer object
model = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
model = model.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = model.predict(x_test)

# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 78.04878048780488

The classification rate increased to 78%.